<h1>Essential 80&rsquo;s Gadgets</h1>

<br />

<div class="container">

  <% @gadgets.each do |gadget| %>
    <div class="photo">
      <%= image_tag gadget.image_filename %>
    </div>
    <div class="text-container">
      <h2><%= gadget.gadget_name %></h2>
      <p><%= gadget.description %></p>
    </div>

    <br class="clear" />
    <br />
  <% end %>
</div>