<h1>Essential &rsquo;80s Gadgets</h1>

<div class="container">
    
  <div class="links text-right">
    <%= link_to 'Add A Gadget', new_gadget_path, data: {toggle: 'modal', target: '#myModal'} %>
  </div>

  <br class="clear" />

  <% @gadgets.each do |gadget| %>
    <div class="photo">
      <%= image_tag gadget.image, class: 'img-fluid' %>
      <!-- Was gadget.image_filename, but no longer storing images in app/assets/images -->
    </div>
    <div class="text-container">
      <h2><%= gadget.gadget_name %></h2>
      <p><%= gadget.description %></p>
    </div>

    <br class="clear" />
    <br />
  <% end %>
</div>