<h1>Enter an essential 1980s gadget</h1>
<%= simple_form_for @gadget do |f| %>
  <%= f.input :gadget_name %>
  <%= f.input :description %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-info' %>
<% end %>