/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
  background: url('https://art.ngfiles.com/images/370000/370313_audiolion_neon-grid.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Quantico', sans-serif;
  font-size: 28px;
  color: white;
}

p {
  font-family: 'Quantico', sans-serif;
  font-size: 18px;
  color: white;  
}

.container {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.links a {
  font-family: 'Quantico', sans-serif;
  font-size: 28px;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.photo {
  float: left;
}

.text-container {
  float: right;
  width: 470px;
}

.clear {
  clear: both;
}