<!DOCTYPE html>
<html>
  <head>
    <title>EightiesGadgets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
      @import url('https://fonts.googleapis.com/css?family=Quantico');
    </style> 
  </head>

  <body>
    <%= yield %>
  </body>
</html>